In [6]:
import os
import pandas as pd
import numpy as np

In [7]:
file_path = "Data/"

In [8]:
df = pd.read_excel(f'{file_path}2019 County Health Rankings Data - v3.xls', header=1, sheet_name=5)
df.head()

,FIPS,State,County,Life Expectancy,95% CI - Low,95% CI - High,Life Expectancy (Black),Life Expectancy (Hispanic),Life Expectancy (White),# Deaths,...,% Hispanic,# Non-Hispanic White,% Non-Hispanic White,# Not Proficient in English,% Not Proficient in English,95% CI - Low.16,95% CI - High.16,% Female,# Rural,% Rural
0,1001,Alabama,Autauga,76.330589,75.554117,77.107061,74.600628,NaN,76.337219,815.0,...,2.857452,41336,74.473912,430,0.828548,0.422472,1.234624,51.342246,22921.0,42.002162
1,1003,Alabama,Baldwin,78.599498,78.208357,78.990639,75.628919,98.039893,78.537003,2827.0,...,4.550200,176582,83.047388,872,0.454512,0.282144,0.626880,51.452772,77060.0,42.279099
2,1005,Alabama,Barbour,75.779457,74.639355,76.919559,74.240228,NaN,77.568384,451.0,...,4.206569,11613,45.955679,297,1.199273,0.580536,1.818011,47.229917,18613.0,67.789635
3,1007,Alabama,Bibb,73.928271,72.624611,75.231931,72.294686,NaN,74.109510,445.0,...,2.638080,16842,74.298571,84,0.394348,0.000000,0.933361,46.453150,15663.0,68.352607
4,1009,Alabama,Blount,74.597767,73.810999,75.384535,NaN,78.577094,74.098247,1050.0,...,9.565097,50439,86.944306,1013,1.870004,1.364180,2.375829,50.688639,51562.0,89.951502

In [9]:
print(list(df.columns))

['FIPS', 'State', 'County', 'Life Expectancy', '95% CI - Low', '95% CI - High', 'Life Expectancy (Black)', 'Life Expectancy (Hispanic)', 'Life Expectancy (White)', '# Deaths', 'Age-Adjusted Mortality', '95% CI - Low.1', '95% CI - High.1', 'Age-Adjusted Mortality (Black)', 'Age-Adjusted Mortality (Hispanic)', 'Age-Adjusted Mortality (White)', '# Deaths.1', 'Child Mortality Rate', '95% CI - Low.2', '95% CI - High.2', 'Child Mortality Rate (Black)', 'Child Mortality Rate (Hispanic)', 'Child Mortality Rate (White)', '# Deaths.2', 'Infant Mortality Rate', '95% CI - Low.3', '95% CI - High.3', 'Infant Mortality Rate (Black)', 'Infant Mortality Rate (Hispanic)', 'Infant Mortality Rate (White)', '% Frequent Physical Distress', '95% CI - Low.4', '95% CI - High.4', '% Frequent Mental Distress', '95% CI - Low.5', '95% CI - High.5', '% Diabetic', '95% CI - Low.6', '95% CI - High.6', '# HIV Cases', 'HIV Prevalence Rate', '# Food Insecure', '% Food Insecure', '# Limited Access', '% Limited Access', '# Drug Overdose Deaths', 'Drug Overdose Mortality Rate', '# Motor Vehicle Deaths', 'MV Mortality Rate', '95% CI - Low.7', '95% CI - High.7', '% Insufficient Sleep', '95% CI - Low.8', '95% CI - High.8', '# Uninsured', '% Uninsured', '95% CI - Low.9', '95% CI - High.9', '# Uninsured.1', '% Uninsured.1', '95% CI - Low.10', '95% CI - High.10', 'Other PCP Rate', 'Other PCP Ratio', '% Disconnected Youth', 'Household Income', '95% CI - Low.11', '95% CI - High.11', 'Household income (Black)', 'Household income (Hispanic)', 'Household income (White)', '% Free or Reduced Lunch', 'Segregation index', 'Segregation Index', 'Homicide Rate', '95% CI - Low.12', '95% CI - High.12', '# Firearm Fatalities', 'Firearm Fatalities Rate', '95% CI - Low.13', '95% CI - High.13', '# Homeowners', '% Homeowners', '95% CI - Low.14', '95% CI - High.14', '# Households with Severe Cost Burden', '% Severe Housing Cost Burden', '95% CI - Low.15', '95% CI - High.15', 'Population', '% < 18', '% 65 and over', '# African American', '% African American', '# American Indian/Alaskan Native', '% American Indian/Alaskan Native', '# Asian', '% Asian', '# Native Hawaiian/Other Pacific Islander', '% Native Hawaiian/Other Pacific Islander', '# Hispanic', '% Hispanic', '# Non-Hispanic White', '% Non-Hispanic White', '# Not Proficient in English', '% Not Proficient in English', '95% CI - Low.16', '95% CI - High.16', '% Female', '# Rural', '% Rural']

In [26]:
df_demographics = pd.DataFrame(data={"FIPS":df['FIPS'],
                                     "State":df['State'],
                                     "County":df['County'],
                                     "Population":df['Population'],
                                     "% < 18 Yrs Old":df['% < 18'],
                                     "% 65 Yrs Old and over": df['% 65 and over'],
                                     "Income": df['Household Income'],
                                     "African American (Count)": df['# African American'],
                                     "African American (%)": df['% African American'],
                                     "American Indian/Alaskan Native (Count)": df['# American Indian/Alaskan Native'],
                                     "American Indian/Alaskan Native(%)": df['% American Indian/Alaskan Native'],
                                     "Asian (Count)": df['# Asian'],
                                     "Asian (%)": df['% Asian'],
                                     "Native Hawaiian/Other Pacific Islander (Count)":df['# Native Hawaiian/Other Pacific Islander'], 
                                     "Native Hawaiian/Other Pacific Islander (%)":df['% Native Hawaiian/Other Pacific Islander'], 
                                     "Hispanic (Count)": df['# Hispanic'], 
                                     "Hispanic (%)": df['% Hispanic'], 
                                     "Non-Hispanic White (Count)":df['# Non-Hispanic White'], 
                                     "Non-Hispanic White (%)": df['% Non-Hispanic White'], 
                                     "Female (%)": df['% Female'], 
                                     "Rural (Count)": df['# Rural'], 
                                     "Rural (%)": df['% Rural'],
                                     "Life Expectancy": df['Life Expectancy'], 
                                     "Life Expectancy (Black)": df['Life Expectancy (Black)'], 
                                     "Life Expectancy (Hispanic)": df['Life Expectancy (Hispanic)'], 
                                     "Life Expectancy (White)": df['Life Expectancy (White)'], 
                                     "Deaths (Count)": df['# Deaths']
                                    })
print(df_demographics.shape)
df_demographics.head(20)

(3142, 27)

,FIPS,State,County,Population,% < 18 Yrs Old,% 65 Yrs Old and over,Income,African American (Count),African American (%),American Indian/Alaskan Native (Count),...,Non-Hispanic White (Count),Non-Hispanic White (%),Female (%),Rural (Count),Rural (%),Life Expectancy,Life Expectancy (Black),Life Expectancy (Hispanic),Life Expectancy (White),Deaths (Count)
0,1001,Alabama,Autauga,55504,23.937014,15.119631,58343.0,10687,19.254468,264,...,41336,74.473912,51.342246,22921.0,42.002162,76.330589,74.600628,NaN,76.337219,815.0
1,1003,Alabama,Baldwin,212628,21.848487,19.947044,56607.0,19037,8.953195,1650,...,176582,83.047388,51.452772,77060.0,42.279099,78.599498,75.628919,98.039893,78.537003,2827.0
2,1005,Alabama,Barbour,25270,20.763751,18.824693,32490.0,12115,47.942224,165,...,11613,45.955679,47.229917,18613.0,67.789635,75.779457,74.240228,NaN,77.568384,451.0
3,1007,Alabama,Bibb,22668,20.606141,16.022587,45795.0,4864,21.457561,97,...,16842,74.298571,46.453150,15663.0,68.352607,73.928271,72.294686,NaN,74.109510,445.0
4,1009,Alabama,Blount,58013,23.349939,17.842553,48253.0,847,1.460018,367,...,50439,86.944306,50.688639,51562.0,89.951502,74.597767,NaN,78.577094,74.098247,1050.0
5,1011,Alabama,Bullock,10309,20.710059,15.821127,29113.0,7130,69.162867,87,...,2196,21.301775,45.533029,5607.0,51.374382,73.117530,71.151798,NaN,77.601183,205.0
6,1013,Alabama,Butler,19825,22.733922,19.556116,36842.0,8845,44.615385,75,...,10229,51.596469,53.432535,14921.0,71.232157,73.505385,72.228640,NaN,74.449889,393.0
7,1015,Alabama,Calhoun,114728,21.789798,17.312252,45937.0,23852,20.790043,607,...,82961,72.311031,51.930653,39955.0,33.696826,73.102948,72.401321,105.645099,72.902140,2333.0
8,1017,Alabama,Chambers,33713,21.137247,19.078694,36883.0,13313,39.489218,100,...,18710,55.497879,52.125293,16816.0,49.148034,74.122278,74.350338,NaN,73.826717,691.0
9,1019,Alabama,Cherokee,25857,19.712264,22.616700,44842.0,1090,4.215493,163,...,23707,91.685037,50.319063,22282.0,85.736273,74.346572,NaN,NaN,NaN,575.0
10,1021,Alabama,Chilton,44067,23.875009,16.359180,46405.0,4442,10.080105,241,...,35335,80.184719,50.827150,37858.0,86.744724,74.192630,73.360638,79.426346,73.895976,850.0
11,1023,Alabama,Choctaw,12945,20.092700,22.742372,36711.0,5389,41.629973,23,...,7309,56.461954,52.715334,13859.0,100.000000,74.284126,73.672154,NaN,74.494381,273.0
12,1025,Alabama,Clarke,24083,21.878504,19.279160,36719.0,10634,44.155628,119,...,12703,52.746751,52.784122,19628.0,75.980335,75.893744,73.946378,NaN,77.509437,412.0
13,1027,Alabama,Clay,13367,20.573053,20.243884,39642.0,1849,13.832573,77,...,10761,80.504227,51.051096,13932.0,100.000000,75.393032,73.188761,NaN,75.520480,271.0
14,1029,Alabama,Cleburne,14900,22.946309,19.107383,45480.0,459,3.080537,69,...,13818,92.738255,50.416107,14972.0,100.000000,73.629785,NaN,NaN,NaN,334.0
15,1031,Alabama,Coffee,51874,23.724795,16.565139,51998.0,8995,17.340093,733,...,36440,70.247137,50.707484,23573.0,47.195083,77.203136,74.769558,87.837912,77.265127,743.0
16,1033,Alabama,Colbert,54500,21.011009,19.600000,46100.0,8763,16.078899,352,...,42769,78.475229,52.020183,23891.0,43.894687,74.851027,75.013698,NaN,74.611811,1016.0
17,1035,Alabama,Conecuh,12469,21.028150,21.918358,30796.0,5758,46.178523,59,...,6223,49.907771,51.968883,10708.0,80.949501,75.033812,74.618983,NaN,75.397939,272.0
18,1037,Alabama,Coosa,10754,16.403199,22.763623,42442.0,3245,30.174819,63,...,7073,65.770876,49.804724,11539.0,100.000000,73.416101,74.469670,NaN,72.496195,228.0
19,1039,Alabama,Covington,37092,21.832201,20.664833,39093.0,4606,12.417772,247,...,30936,83.403429,51.773967,26304.0,69.651794,74.215784,70.549819,NaN,74.588068,754.0

In [11]:
df_demographics['FIPS'].nunique

<bound method IndexOpsMixin.nunique of 0        1001
1        1003
2        1005
3        1007
4        1009
        ...
3137    56037
3138    56039
3139    56041
3140    56043
3141    56045
Name: FIPS, Length: 3142, dtype: int64>

In [12]:
type(df_demographics['FIPS'])

pandas.core.series.Series

In [13]:
fips_index = {"Counties":df_demographics['FIPS']}

In [22]:
# Import Lyme Case Counts by County
df_lyme_incidence = pd.read_csv(f'{file_path}LymeCaseCountsbyCounty.csv', encoding='latin-1')

df_lyme_2019 = df_lyme_incidence.drop(columns=['STCODE', 'CTYCODE','Cases2000', 'Cases2001',
       'Cases2002', 'Cases2003', 'Cases2004', 'Cases2005', 'Cases2006',
       'Cases2007', 'Cases2008', 'Cases2009', 'Cases2010', 'Cases2011',
       'Cases2012', 'Cases2013', 'Cases2014', 'Cases2015', 'Cases2016','Cases2017','Cases2018'])
df_lyme_2019 = df_lyme_2019.rename(columns={'Ctyname':'County','Stname':'State'})
print(df_lyme_2019.shape)
df_lyme_2019.head()

(3193, 3)

           County    State  Cases2019
0  Autauga County  Alabama          1
1  Baldwin County  Alabama          0
2  Barbour County  Alabama          1
3     Bibb County  Alabama          0
4   Blount County  Alabama          0

In [23]:
df_lyme_2019.nunique()

County       1928
State          51
Cases2019     171
dtype: int64

In [24]:
df1 = df_lyme_2019.merge(df_demographics, how="inner")
df1.head(10)

,County,State,Cases2019,FIPS,Population,% < 18 Yrs Old,% 65 Yrs Old and over,Income,African American (Count),African American (%),...,Non-Hispanic White (Count),Non-Hispanic White (%),Female (%),Rural (Count),Rural (%),Life Expectancy,Life Expectancy (Black),Life Expectancy (Hispanic),Life Expectancy (White),Deaths (Count)
0,Arkansas,Arkansas,0,5001,17967,22.769522,19.040463,43752.0,4417,24.583959,...,12490,69.516336,51.433183,6601.0,34.707398,74.143686,74.436834,NaN,73.713019,355.0
1,District of Columbia,District of Columbia,100,11001,693972,17.939052,12.065905,80153.0,316013,45.536852,...,255387,36.800764,52.563072,0.0,0.000000,78.415456,72.754076,89.323340,86.771236,8278.0
2,Hawaii,Hawaii,0,15001,200381,21.787495,20.054297,56540.0,1309,0.653256,...,60645,30.264845,50.396994,70313.0,37.990804,80.143367,81.870145,76.217771,80.310088,2541.0
3,Idaho,Idaho,0,16049,16369,19.561366,27.020588,42503.0,80,0.488729,...,14873,90.860773,47.388356,13117.0,80.635643,79.845895,NaN,NaN,NaN,240.0
4,Iowa,Iowa,0,19095,16103,23.399367,18.630069,64091.0,94,0.583742,...,15334,95.224492,50.158356,13441.0,82.182819,79.429402,NaN,NaN,NaN,172.0
5,Carson City,Nevada,1,32510,54745,20.211891,20.140652,55228.0,1026,1.874144,...,36746,67.122112,48.457393,2675.0,4.839527,74.386741,NaN,84.211908,73.117580,1102.0
6,New York,New York,0,36061,1664727,14.389326,16.001663,84133.0,205966,12.372359,...,777054,46.677563,52.600637,0.0,0.000000,84.516308,76.839072,85.371215,86.879643,11857.0
7,Oklahoma,Oklahoma,0,40109,787958,25.743758,13.286114,51389.0,120213,15.256270,...,440753,55.936103,51.033050,45097.0,6.275387,75.988371,72.888009,82.943517,76.148762,10851.0
8,Utah,Utah,0,49049,606425,33.881849,7.545039,70461.0,3474,0.572866,...,499950,82.442182,49.455910,17186.0,3.326984,80.328854,80.412847,85.757021,79.989191,3296.0

In [25]:
df1.shape

(9, 28)