In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
file_path = "Data/"

In [5]:
df = pd.read_csv(f'{file_path}LymeCaseCountsbyCounty.csv', encoding='latin-1')
df.head(10)

,Ctyname,Stname,STCODE,CTYCODE,Cases2000,Cases2001,Cases2002,Cases2003,Cases2004,Cases2005,...,Cases2010,Cases2011,Cases2012,Cases2013,Cases2014,Cases2015,Cases2016,Cases2017,Cases2018,Cases2019
0,Autauga County,Alabama,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,1
1,Baldwin County,Alabama,1,3,1,0,1,0,0,0,...,0,1,1,0,3,1,2,2,0,0
2,Barbour County,Alabama,1,5,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,Bibb County,Alabama,1,7,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,Blount County,Alabama,1,9,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,2,0
5,Bullock County,Alabama,1,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,Butler County,Alabama,1,13,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
7,Calhoun County,Alabama,1,15,0,0,0,0,0,0,...,0,2,1,3,2,0,1,0,0,3
8,Chambers County,Alabama,1,17,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,2
9,Cherokee County,Alabama,1,19,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
len(df)

3193

In [7]:
df.columns

Index(['Ctyname', 'Stname', 'STCODE', 'CTYCODE', 'Cases2000', 'Cases2001',
       'Cases2002', 'Cases2003', 'Cases2004', 'Cases2005', 'Cases2006',
       'Cases2007', 'Cases2008', 'Cases2009', 'Cases2010', 'Cases2011',
       'Cases2012', 'Cases2013', 'Cases2014', 'Cases2015', 'Cases2016',
       'Cases2017', 'Cases2018', 'Cases2019'],
      dtype='object')

In [8]:
df.dtypes

Ctyname      object
Stname       object
STCODE        int64
CTYCODE       int64
Cases2000     int64
Cases2001     int64
Cases2002     int64
Cases2003     int64
Cases2004     int64
Cases2005     int64
Cases2006     int64
Cases2007     int64
Cases2008     int64
Cases2009     int64
Cases2010     int64
Cases2011     int64
Cases2012     int64
Cases2013     int64
Cases2014     int64
Cases2015     int64
Cases2016     int64
Cases2017     int64
Cases2018     int64
Cases2019     int64
dtype: object

In [9]:
df_2019 = df.drop(columns=['STCODE', 'Cases2000', 'Cases2001',
       'Cases2002', 'Cases2003', 'Cases2004', 'Cases2005', 'Cases2006',
       'Cases2007', 'Cases2008', 'Cases2009', 'Cases2010', 'Cases2011',
       'Cases2012', 'Cases2013', 'Cases2014', 'Cases2015', 'Cases2016','Cases2017','Cases2018'])

In [10]:
df_2019 = df_2019.rename(columns={'Ctyname':'County','Stname':'State'})
df_2019.head()

           County    State  CTYCODE  Cases2019
0  Autauga County  Alabama        1          1
1  Baldwin County  Alabama        3          0
2  Barbour County  Alabama        5          1
3     Bibb County  Alabama        7          0
4   Blount County  Alabama        9          0

In [11]:
df_2019.loc[df_2019['CTYCODE'] == 999]

              County           State  CTYCODE  Cases2019
67           Alabama         Alabama      999          0
97            Alaska          Alaska      999          0
113          Arizona         Arizona      999          0
189         Arkansas        Arkansas      999          0
248       California      California      999          0
313         Colorado        Colorado      999          0
322      Connecticut     Connecticut      999          7
326         Delaware        Delaware      999         25
395          Florida         Florida      999          0
555          Georgia         Georgia      999          0
561           Hawaii          Hawaii      999          0
606            Idaho           Idaho      999          0
709         Illinois        Illinois      999          0
802          Indiana         Indiana      999         62
902             Iowa            Iowa      999          0
1008          Kansas          Kansas      999          1
1129        Kentucky        Kentucky      999         16
1194        Lousiana       Louisiana      999          4
1211           Maine           Maine      999          1
1236        Maryland        Maryland      999          0
1251   Massachusetts   Massachusetts      999          0
1335        Michigan        Michigan      999          1
1423       Minnesota       Minnesota      999          0
1506     Mississippi     Mississippi      999          0
1622        Missouri        Missouri      999          0
1679         Montana         Montana      999          4
1773        Nebraska        Nebraska      999          0
1791          Nevada          Nevada      999          1
1802   New Hampshire   New Hampshire      999         21
1824      New Jersey      New Jersey      999          2
1858      New Mexico      New Mexico      999          0
1921        New York        New York      999          0
2022  North Carolina  North Carolina      999          0
2076    North Dakota    North Dakota      999          0
2165            Ohio            Ohio      999          0
2243        Oklahoma        Oklahoma      999          0
2280          Oregon          Oregon      999          0
2348    Pennsylvania    Pennsylvania      999          0
2354    Rhode Island    Rhode Island      999          0
2401  South Carolina  South Carolina      999          0
2468    South Dakota    South Dakota      999          0
2564       Tennessee       Tennessee      999         14
2819           Texas           Texas      999         20
2849            Utah            Utah      999          0
2864         Vermont         Vermont      999          0
2999        Virginia        Virginia      999        124
3039      Washington      Washington      999          0
3095   West Virginia   West Virginia      999        256
3168       Wisconsin       Wisconsin      999          0
3192         Wyoming         Wyoming      999          3

In [12]:
df_2019.loc[df_2019['State']=='Virginia']

                   County     State  CTYCODE  Cases2019
2865      Accomack County  Virginia        1          1
2866     Albemarle County  Virginia        3         20
2867     Alleghany County  Virginia        5          0
2868        Amelia County  Virginia        7          0
2869       Amherst County  Virginia        9          7
...                   ...       ...      ...        ...
2995  Virginia Beach city  Virginia      810         13
2996      Waynesboro city  Virginia      820          1
2997    Williamsburg city  Virginia      830          2
2998      Winchester city  Virginia      840         12
2999             Virginia  Virginia      999        124

[135 rows x 4 columns]

In [13]:
df_2019.loc[df_2019['State']=='Virginia']

                   County     State  CTYCODE  Cases2019
2865      Accomack County  Virginia        1          1
2866     Albemarle County  Virginia        3         20
2867     Alleghany County  Virginia        5          0
2868        Amelia County  Virginia        7          0
2869       Amherst County  Virginia        9          7
...                   ...       ...      ...        ...
2995  Virginia Beach city  Virginia      810         13
2996      Waynesboro city  Virginia      820          1
2997    Williamsburg city  Virginia      830          2
2998      Winchester city  Virginia      840         12
2999             Virginia  Virginia      999        124

[135 rows x 4 columns]

In [14]:
df_2019.value_counts()

County               State           CTYCODE  Cases2019
Abbeville County     South Carolina  1        0            1
Norfolk city         Virginia        710      1            1
North Carolina       North Carolina  999      0            1
North Dakota         North Dakota    999      0            1
North Slope Borough  Alaska          185      0            1
                                                          ..
Goliad County        Texas           175      0            1
Gonzales County      Texas           177      0            1
Goochland County     Virginia        75       0            1
Goodhue County       Minnesota       49       23           1
Ziebach County       South Dakota    137      0            1
Length: 3193, dtype: int64

In [15]:
df_2019.isnull().values.any()

False

In [18]:
df_2019.groupby(['State']).count()

                      County  CTYCODE  Cases2019
State
Alabama                   68       68         68
Alaska                    30       30         30
Arizona                   16       16         16
Arkansas                  76       76         76
California                59       59         59
Colorado                  65       65         65
Connecticut                9        9          9
Delaware                   4        4          4
District of Columbia       1        1          1
Florida                   68       68         68
Georgia                  160      160        160
Hawaii                     6        6          6
Idaho                     45       45         45
Illinois                 103      103        103
Indiana                   93       93         93
Iowa                     100      100        100
Kansas                   106      106        106
Kentucky                 121      121        121
Louisiana                 65       65         65
Maine                     17       17         17
Maryland                  25       25         25
Massachusetts             15       15         15
Michigan                  84       84         84
Minnesota                 88       88         88
Mississippi               83       83         83
Missouri                 116      116        116
Montana                   57       57         57
Nebraska                  94       94         94
Nevada                    18       18         18
New Hampshire             11       11         11
New Jersey                22       22         22
New Mexico                34       34         34
New York                  63       63         63
North Carolina           101      101        101
North Dakota              54       54         54
Ohio                      89       89         89
Oklahoma                  78       78         78
Oregon                    37       37         37
Pennsylvania              68       68         68
Rhode Island               6        6          6
South Carolina            47       47         47
South Dakota              67       67         67
Tennessee                 96       96         96
Texas                    255      255        255
Utah                      30       30         30
Vermont                   15       15         15
Virginia                 135      135        135
Washington                40       40         40
West Virginia             56       56         56
Wisconsin                 73       73         73
Wyoming                   24       24         24