In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
file_path = "Data/"

In [3]:
df = pd.read_csv(f'{file_path}LymeCaseCountsbyCounty.csv')
df.head(10)

,Ctyname,Stname,STCODE,CTYCODE,Cases2000,Cases2001,Cases2002,Cases2003,Cases2004,Cases2005,...,Cases2010,Cases2011,Cases2012,Cases2013,Cases2014,Cases2015,Cases2016,Cases2017,Cases2018,Cases2019
0,Autauga County,Alabama,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,1
1,Baldwin County,Alabama,1,3,1,0,1,0,0,0,...,0,1,1,0,3,1,2,2,0,0
2,Barbour County,Alabama,1,5,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,Bibb County,Alabama,1,7,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,Blount County,Alabama,1,9,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,2,0
5,Bullock County,Alabama,1,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,Butler County,Alabama,1,13,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
7,Calhoun County,Alabama,1,15,0,0,0,0,0,0,...,0,2,1,3,2,0,1,0,0,3
8,Chambers County,Alabama,1,17,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,2
9,Cherokee County,Alabama,1,19,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
len(df)

3193

In [5]:
df.columns

Index(['Ctyname', 'Stname', 'STCODE', 'CTYCODE', 'Cases2000', 'Cases2001',
       'Cases2002', 'Cases2003', 'Cases2004', 'Cases2005', 'Cases2006',
       'Cases2007', 'Cases2008', 'Cases2009', 'Cases2010', 'Cases2011',
       'Cases2012', 'Cases2013', 'Cases2014', 'Cases2015', 'Cases2016',
       'Cases2017', 'Cases2018', 'Cases2019'],
      dtype='object')

In [16]:
df.dtypes

Ctyname      object
Stname       object
STCODE        int64
CTYCODE       int64
Cases2000     int64
Cases2001     int64
Cases2002     int64
Cases2003     int64
Cases2004     int64
Cases2005     int64
Cases2006     int64
Cases2007     int64
Cases2008     int64
Cases2009     int64
Cases2010     int64
Cases2011     int64
Cases2012     int64
Cases2013     int64
Cases2014     int64
Cases2015     int64
Cases2016     int64
Cases2017     int64
Cases2018     int64
Cases2019     int64
dtype: object

In [6]:
df_2019 = df.drop(columns=['STCODE', 'Cases2000', 'Cases2001',
       'Cases2002', 'Cases2003', 'Cases2004', 'Cases2005', 'Cases2006',
       'Cases2007', 'Cases2008', 'Cases2009', 'Cases2010', 'Cases2011',
       'Cases2012', 'Cases2013', 'Cases2014', 'Cases2015', 'Cases2016','Cases2017','Cases2018'])

In [7]:
df_2019 = df_2019.rename(columns={'Ctyname':'County','Stname':'State'})
df_2019.head()

           County    State  CTYCODE  Cases2019
0  Autauga County  Alabama        1          1
1  Baldwin County  Alabama        3          0
2  Barbour County  Alabama        5          1
3     Bibb County  Alabama        7          0
4   Blount County  Alabama        9          0

In [18]:
len(df_2019.loc[df_2019['CTYCODE'] == 999])

50

In [13]:
df_2019.loc[df_2019['State']=='Indiana']

                 County    State  CTYCODE  Cases2019
710        Adams County  Indiana        1          0
711        Allen County  Indiana        3          2
712  Bartholomew County  Indiana        5          1
713       Benton County  Indiana        7          1
714    Blackford County  Indiana        9          0
..                  ...      ...      ...        ...
798        Wayne County  Indiana      177          0
799        Wells County  Indiana      179          0
800        White County  Indiana      181          1
801      Whitley County  Indiana      183          0
802             Indiana  Indiana      999         62

[93 rows x 4 columns]

In [17]:
df_2019.loc[df_2019['State']=='Virginia']

                   County     State  CTYCODE  Cases2019
2865      Accomack County  Virginia        1          1
2866     Albemarle County  Virginia        3         20
2867     Alleghany County  Virginia        5          0
2868        Amelia County  Virginia        7          0
2869       Amherst County  Virginia        9          7
...                   ...       ...      ...        ...
2995  Virginia Beach city  Virginia      810         13
2996      Waynesboro city  Virginia      820          1
2997    Williamsburg city  Virginia      830          2
2998      Winchester city  Virginia      840         12
2999             Virginia  Virginia      999        124

[135 rows x 4 columns]

In [20]:
df_2019.value_counts()

County               State           CTYCODE  Cases2019
Abbeville County     South Carolina  1        0            1
Norfolk city         Virginia        710      1            1
North Carolina       North Carolina  999      0            1
North Dakota         North Dakota    999      0            1
North Slope Borough  Alaska          185      0            1
                                                          ..
Goliad County        Texas           175      0            1
Gonzales County      Texas           177      0            1
Goochland County     Virginia        75       0            1
Goodhue County       Minnesota       49       23           1
Ziebach County       South Dakota    137      0            1
Length: 3193, dtype: int64

In [24]:
df_2019.isnull().values.any()

False